<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Cofiguration of generation repositories-->
    <section name="repositoryGenerator" type="WCFGenerator.RepositoriesGeneration.Configuration.RepositoryGenerator, WCF-Generator" allowLocation="false" allowDefinition="Everywhere" />
  <!-- Cofiguration of generation decorators-->
    <section name="decoratorGenerator" 
             type="WCFGenerator.DecoratorGeneration.Configuration.DecoratorGenerator, WCF-Generator" 
             allowLocation="false" 
             allowDefinition="Everywhere"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SolutionPath" value="WCF-Generator.sln" />
  </appSettings>
  <!-- Cofiguration of generation repositories-->
  <repositoryGenerator>
    <repositoryProjects>

      <add Name ="Sandbox.Server"
            TargetProjectName="TestRepositoryGeneration"
            RepositoryAttributeName="DataAccess"
            RepositoryBase ="TestRepositoryGeneration.Infrastructure.RepositoryBase"
            RepositoryTargetFolder="GeneratedRepositories"
            RepositorySuffix="Repository"
            RepositoryInterfacesProjectName="TestRepositoryGeneration"
            RepositoryClassProjects="TestRepositoryGeneration"
            AdditionalProjects=""
            DefaultNamespace="TestRepositoryGeneration"
            DatabaseType="1"/>

      <add Name ="Sandbox.FrontEnd"
          TargetProjectName="TestRepositoryGeneration"
          RepositoryAttributeName="DataRepository"
          RepositoryBase ="TestRepositoryGeneration.Infrastructure.RepositoryBase"
          RepositoryTargetFolder="GeneratedRepositories"
          RepositorySuffix="Repository"
          RepositoryInterfacesProjectName="TestRepositoryGeneration"
          RepositoryClassProjects="TestRepositoryGeneration"
          AdditionalProjects=""
          DefaultNamespace="TestRepositoryGeneration"
          DatabaseType="1"/>
      
    </repositoryProjects>
  </repositoryGenerator>

  <decoratorGenerator>
    <decoratorProjects>
      <!-- Sandbox -->
      <project name="TestDecoratorGeneration" >
        <decoratedClasses>
          <add sourceClass="TestDecoratorGeneration.Service" targetClass="ServiceDecorator" useAllOptions ="false" onEntryReturnType="ICommandExecutionResult"/>
          <add sourceClass="TestDecoratorGeneration.Managers.Manager" targetClass="ManagerDecorator" useAllOptions ="false"/>
          <add sourceClass="TestDecoratorGeneration.Helpers.Helper" targetClass="HelperDecorator" />
        </decoratedClasses>
      </project>
    </decoratorProjects>
  </decoratorGenerator>

</configuration>

