<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Cofiguration of generation repositories-->
    <section name="repositoryGenerator" type="WCFGenerator.RepositoriesGeneration.Configuration.RepositoryGenerator, WCF-Generator" allowLocation="false" allowDefinition="Everywhere" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SolutionPath" value="..\..\..\WCF-Generator.sln" />
  </appSettings>
  <!-- Cofiguration of generation repositories-->
  <repositoryGenerator>
    <repositoryProjects>

    <add Name ="Sandbox"
          TargetProjectName="TestRepositoryGeneration"
          RepositoryAttributeName="DataAccess"
          RepositoryTargetFolder="Repositories\Generated"
          RepositorySuffix="Repository"
          RepositoryInterfacesProjectName="TestRepositoryGeneration"
          RepositoryClassProjects="TestRepositoryGeneration"
          AdditionalProjects="" />
      
    </repositoryProjects>
  </repositoryGenerator>
</configuration>

