<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Cofiguration of generation repositories-->
    <section name="repositoryGenerator" type="WCFGenerator.RepositoriesGeneration.Configuration.RepositoryGenerator, WCF-Generator" allowLocation="false" allowDefinition="Everywhere" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!-- Cofiguration of generation repositories-->
  <repositoryGenerator>
    <repositoryProjects>
      
      <add Name ="Sandbox" Enable="false"
          TargetProjectName="TestRepositoryGeneration"
          SolutionPath="..\..\..\WCF-Generator.sln"
          RepositoryAttributeName="DataAccess"
          RepositoryTargetFolder="Repositories\Generated"
          RepositorySuffix="Repository"
          RepositoryInterfacesProjectName="TestRepositoryGeneration"
          RepositoryClassProjects="TestRepositoryGeneration"
          AdditionalProjects="" />

      <add Name ="FrontEnd" Enable="false"
         TargetProjectName="YumaPos.FrontEnd.Data"
         SolutionPath=".sln"
         RepositoryAttributeName="DataRepository"
         RepositoryTargetFolder="Repositories\Generated"
         RepositorySuffix="Repository"
         RepositoryInterfacesProjectName="YumaPos.FrontEnd.Infrastructure"
         RepositoryClassProjects="YumaPos.FrontEnd.Infrastructure"
         AdditionalProjects="" />

      <add Name = "Server" Enable="true"
        TargetProjectName="YumaPos.Server.Data.Sql"
        SolutionPath="C:\GitHub\Yumapos\WCF\YumaPos.Server.WCF.sln"
        RepositoryAttributeName="DataAccess"
        RepositoryTargetFolder="Repositories\Generated"
        RepositorySuffix="Repository"
        RepositoryInterfacesProjectName="YumaPos.Server.Infrastructure"
        RepositoryClassProjects="YumaPos.Server.Infrastructure,YumaPos.FrontEnd.Infrastructure"
        AdditionalProjects="YumaPos.Shared.Infrastructure" />
      
    </repositoryProjects>
  </repositoryGenerator>
</configuration>

