<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Cofiguration of generation repositories-->
    <section name="repositoryGenerator" type="WCFGenerator.RepositoriesGeneration.Configuration.RepositoryGenerator, WCF-Generator" allowLocation="false" allowDefinition="Everywhere" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SolutionPath" value="..\..\..\WCF-Generator.sln" />
    <!--<add key="SolutionPath" value="C:\GitHub\Yumapos\WCF\YumaPos.Server.WCF.sln" />-->
  </appSettings>
  <!-- Cofiguration of generation repositories-->
  <repositoryGenerator>
    <repositoryProjects>
      
      <add Name ="Sandbox" 
          TargetProjectName="TestRepositoryGeneration"
          RepositoryAttributeName="DataAccess"
          RepositoryTargetFolder="Repositories\Generated"
          RepositorySuffix="Repository"
          RepositoryInterfacesProjectName="TestRepositoryGeneration"
          RepositoryClassProjects="TestRepositoryGeneration"
          AdditionalProjects="" />

      <!--<add Name = "Server" 
        TargetProjectName="YumaPos.Server.Data.Sql"
        RepositoryAttributeName="DataAccess"
        RepositoryTargetFolder="Repositories\Generated"
        RepositorySuffix="Repository"
        RepositoryInterfacesProjectName="YumaPos.Server.Infrastructure"
        RepositoryClassProjects="YumaPos.Server.Infrastructure,YumaPos.FrontEnd.Infrastructure"
        AdditionalProjects="YumaPos.Shared.Infrastructure" />-->
      
    </repositoryProjects>
  </repositoryGenerator>
</configuration>

