<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serialize" type="WCFGenerator.SerializeGeneration.SerializeConfiguration, WCF-Generator" />
  </configSections>
  <serialize baseInterface="IStatefulObject" ignoreAttribute="SerializeIgnore" includeAttribute="SerializeInclude" generationPrefix="SerializationCore">
    <projectNames>
        <add generationProjects="YumaPos.FrontEnd.BusinessLogic" />
    </projectNames>
  </serialize>
  <appSettings>
    <add key="SolutionPath" value="C:\Projects\YumaPos-Server-WCF\YumaPos.Server.WCF.sln" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>