<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Cofiguration of generation repositories-->
    <section name="repositoryGenerator" type="WCFGenerator.RepositoriesGeneration.Configuration.RepositoryGenerator,WCF-Generator471" allowLocation="false" allowDefinition="Everywhere" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="SolutionPath" value="C:\Yumapos\Main\YumaPos-Server-WCF-master\YumaPos.Server.WCF.sln" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- Cofiguration of generation repositories-->
  <repositoryGenerator>
    <repositoryProjects>
      <add Name="Server" TargetProjectName="YumaPos.Server.Data.Sql" RepositoryAttributeName="DataAccess" RepositoryTargetFolder="Repositories\Generated" RepositorySuffix="Repository" RepositoryInterfacesProjectName="YumaPos.Server.Infrastructure" RepositoryClassProjects="YumaPos.Server.Infrastructure,YumaPos.FrontEnd.Infrastructure,YumaPos.FrontEnd.Data.Infractructure" AdditionalProjects="YumaPos.Shared.Infrastructure" DefaultNamespace="YumaPos.Server.Data.Sql" DatabaseType="1" />
      <add Name="FrontEnd" TargetProjectName="YumaPos.FrontEnd.Data" RepositoryAttributeName="DataRepository" RepositoryTargetFolder="Repositories\Generated" RepositorySuffix="Repository" RepositoryInterfacesProjectName="YumaPos.FrontEnd.Data.Infractructure" RepositoryClassProjects="YumaPos.FrontEnd.Data.Infractructure" AdditionalProjects="YumaPos.FrontEnd.Infrastructure" DefaultNamespace="YumaPos.FrontEnd.Data.Repositories" DatabaseType="1" />
      <add Name="Archive" TargetProjectName="YumaPos.Archive.Data.Sql" RepositoryAttributeName="DataArchive" RepositoryTargetFolder="Repositories\Generated" RepositorySuffix="ArchiveRepository" RepositoryInterfacesProjectName="YumaPos.Archive.Data.Infrastructure" RepositoryClassProjects="YumaPos.Archive.Data.Infrastructure" AdditionalProjects="YumaPos.FrontEnd.Infrastructure" DefaultNamespace="YumaPos.Archive.Data.Sql.Repositories" DatabaseType="2" />
    </repositoryProjects>
  </repositoryGenerator>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>